
<div class="formularioContacto">
    <fieldset id="formcontacto">
            <h2>Contacto</h2>
        {{!-- <label for="nombre">Nombre</label> --}}
        <input type="text" id="nombre" placeholder="NOMBRE">
        {{!-- <label for="apellido">Apellido</label> --}}
        <input type="text" id="apellido" placeholder="APELLIDO">
        {{!-- <label for="email">Email</label> --}}
        <input type="text" id="email" placeholder="EMAIL">
        <input type="text" rows="52" cols="30" >
        
            <button class="btnform">Enviar</button>
        
    </fieldset>


    </div>
