
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/styles.css">
    <title>404: Página no encontrada</title>
</head>
<body>
        <div class="mensaje404">
            <h1 id="error404">404</h1>
            <p id="subtitulo404">Página no encontrada</p>
            <hr>
            <p class="volver404"></p><a href="/" class="link404">Volver</a></p>
        </div>

</body>
</html>
