<div class="comentario">
    <div class="texto">
        <h2 class="tituloComentario">Resumen Viaje</h2>
        <div class="contenedorDistancia">           
                <p>La distancia es de:</p>
                <h3 class="cifraDistancia"></h3>
        </div>
        <div class="contenedorDuracion">
            <p>La duración aproximada de viaje es de :</p>
            <span><h3 class="cifraDuracion"></h3><h2></h2></span>
        </div>
        <p class="textoComentario">
        </p>
     
    </div>
</div>