<div class="comentario">
    <div class="texto">
        <h2 class="tituloComentario">Resumen de Viaje</h2>
        <div class="contenedorDistancia">
            <p class="laDistanciaEsDe">La distancia es de:</p>
            <h3 class="cifraDistancia"></h3>
        </div>
        <div class="contenedorDuracion">
            <p class="laDuracionEsDe">La duración del viaje es de :</p>
            <h3 class="cifraDuracion"></h3>
        </div>
        <p class="textoComentario">
        </p>

    </div>
</div>