{{#> plantilla}}

{{> cabecera}}
{{> atractivos}}
<div class="central">
    <div class="clima">
        {{> geo}}
    </div>
    <div id="comment">
        {{> resumen}}
    </div>
</div>
{{> mapa}}
{{> separadorVideo}}
{{!-- {{> formulario}} --}}

{{/plantilla}}